<html>
  <head>
    <link rel="stylesheet" href="style/style.css">
    <title>Souvlaki Cost Calculator</title>
  </head>

  <body>

    <form method="POST" action="/calculate">
      <h1>Souvlaki Cost Calculator</h1>
    <table>
      <tbody>
        <tr>
          <td><label for="name">Όνομα</label></td>
          <td><input id="name" type="text" name="name" placeholder="Το όνομα σου"></td>
        </tr>
        <tr>
          <td><label for="quantity">Ποσότητα</label></td>
          <td><input id="quantity" type="number" name="quantity" value="1" min="1"></td>
        </tr>
        <tr>
          <td><label>Πίτα</label></td>
          <td><label><input name="pita" type="radio" value="paradosiaki"> Παραδοσιακή (0.50&euro;)</label>
            <label><input name="pita" type="radio" value="araviki"> Αραβική (1.20&euro;)</label></td>
        </tr>
        <tr>
          <td><label for="kreatiko">Κρεατικό</label></td>
          <td><select name="meat" id="kreatiko">
            <option value="pork_gyro">Γύρος Χοιρινό (1.70&euro;)</option>
            <option value="chicken_gyro">Γύρος Κοτόπουλο (1.70&euro;)</option>
            <option value="pork">Καλαμάκι Χοιρινό (1.90&euro;)</option>
            <option value="chicken">Καλαμάκι Κοτόπουλο (1.90&euro;)</option>
            <option value="veggie">Οικολογικό (1.20&euro;)</option>
          </select></td>
        </tr>
        <tr>
          <td><label>Υλικά</label></td>
          <td><label><input name="extras" type="checkbox" value="fries" checked> Πατάτες (0.30&euro;)</label>
            <label><input name="extras" type="checkbox" value="bacon"> Μπέικον (0.50&euro;)</label></td>
        </tr>
      </tbody>
    </table>

      
      <button type="submit">Υπολογισμός Κόστους</button>
      <button type="reset">Καθαρισμός</button>
    </form>
  </body>
</html>
